* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e3e6e6;
}

/* NAVBAR */
.navbar {
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo h2 {
    color: #ff9900;
    font-size: 28px;
    font-weight: bold;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    width: 50%;
}

.search-box input {
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.search-box button {
    width: 20%;
    border: none;
    background-color: #ff9900;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.nav-links p {
    cursor: pointer;
}

.nav-links p:hover {
    text-decoration: underline;
}

/* BANNER */
.banner {
    background-image: url("https://m.media-amazon.com/images/I/71qid7QFWJL._SX3000_.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    color: white;
}

.banner h1 {
    font-size: 40px;
    font-weight: bold;
}

.banner p {
    font-size: 18px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product-card p {
    font-size: 16px;
    font-weight: bold;
    color: #b12704;
}

.product-card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #ff9900;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #e68a00;
}

/* FOOTER */
footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}